@model ExamModel
@{
}
<div class="row">
    <div class="col-lg-12">
        <div class="card" id="SinavEkle">
            <div class="card-body">
                <div class="col-md-12 form-group">
                    <div class="form-group">
                        <label>Dersi seçiniz</label>
                        @Html.DropDownListFor(model => model.Exam.LessonId, new SelectList(Model.LessonGroup, "Id", "LessonName"), "Choose ders ", new { @class = "form-control", data_live_search = "true", data_provide = "selectpicker", data_size = "10" })
                    </div>
                    <label>Konuyu seçiniz</label>
                    @Html.DropDownListFor(model => model.Exam.Subject.LessonId, new SelectList(Model.SubjectGroup, "Id", "SubjectName"), "Choose konu ", new { @class = "form-control", data_live_search = "true", data_provide = "selectpicker", data_size = "10" })


                    <div class="form-group">
                        <label for="DersKonuBaslik">Ders-Konu Başlığını giriniz</label>
                        <input type="text" class="form-control  popoverelement disabledInput" required="" id="DersKonu" placeholder="Dersin Konusunu Giriniz">
                    </div>
                    <div class="card">
                        <div class="card-header">
                            SORULAR
                            <input class="btn btn-primary" type="button" value="Soru Ekle" id="BtnSoruEkle" onclick="questionAdded()">
                        </div>
                        <div id="questionsArea">
                            <div class="card questionItemDiv" id="questionItemDiv_1">
                                <div class="card-header" id="questionItemDivHeader_1">
                               
                        



                                    Soru 1
                                    <input class="btn btn-danger" type="button" value="Sil" onclick="questionRemove('questionItemDiv_1')">
                                </div>
                                <div class="form-group">
                                    <textarea rows="2" cols="60" style="overflow: auto;"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="ASecenegi">A)</label>
                                    <input class="w3-input w3-border w3-animate-input" type="text" style="width:80%">
                                    <input class="btn btn-primary" type="button" value="-" id="btnA">

                                </div>
                                <div class="form-group">
                                    <label for="BSecenegi">B)</label>
                                    <input class="w3-input w3-border w3-animate-input" type="text" style="width:80%">
                                    <input class="btn btn-primary" type="button" value="-" id="btnB">
                                </div>
                                <div class="form-group">
                                    <label for="CSecenegi">C)</label>
                                    <input class="w3-input w3-border w3-animate-input" type="text" style="width:80%">
                                    <input class="btn btn-primary" type="button" value="-" id="btnC">
                                </div>
                                <div class="form-group">

                                    <label for="DSecenegi">D)</label>
                                    <input class="w3-input w3-border w3-animate-input" type="text" style="width:80%">
                                    <input class="btn btn-primary" type="button" value="-" id="btnD">
                                    <input class="btn btn-primary" type="button" value="Şık Ekle" id="questionItemEkleSık_1" onclick="SıkEkle()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" onclick="AddKaydet()" class="btn btn-info w-100">Kaydet</button>
                </div>
             </div>
           </div>
     </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>

    function AddKaydet() {
        $.ajax({
            type: 'GET',
            url: 'sinav/yeni-ekle/{ExamId}',
            //data: postData,
            success: function (response) {
                console.log("Geldi");
            },
            error: function () {
                alert("Talep esnasında sorun oluştu.Yeniden deneyin");
            }
        });
    }
    function questionRemove(questionItemDivIndex) {
        $("#" + questionItemDivIndex).remove();
      
        $(".questionItemDiv").each(function (index) {
            var setIndex = (index + 1);

            $(this).attr("id", "questionItemDiv_" + setIndex);
            $($(this).children()[0]).attr("id", "questionItemDivHeader_" + setIndex);

            $("#questionItemDivHeader_" + setIndex).html(`Soru ${setIndex} <input class="btn btn-danger" type="button" value="Sil" onclick="questionRemove('questionItemDiv_${setIndex}')">`);

        });

    }

    function SıkEkle() {
        var questionInputsCountIndex = $(".questionItemDiv").length + 1;
    $("#questionsArea").append(`<label for="ESecenegi">E)</label>
                                    <input class="w3-input w3-border w3-animate-input" type="text" style="width:80%" </br> </br>`)

    }

    function questionAdded() {
        var questionInputsCountIndex = $(".questionItemDiv").length + 1;

        $("#questionsArea").append(`<div class="card questionItemDiv" id="questionItemDiv_${questionInputsCountIndex}"><div class="card-header" id="questionItemDivHeader_${questionInputsCountIndex}">Soru ${questionInputsCountIndex} <input class="btn btn-danger" type="button" value="Sil" onclick="questionRemove('questionItemDiv_${questionInputsCountIndex}')"></div > <div class="form-group"><textarea rows="2" cols="60" style="overflow: auto;"></textarea></div><div class="form-group"><label for="ASecenegi">A)</label><input class="w3-input w3-border w3-animate-input" type="text" style="width:80%"><input class="btn btn-primary" type="button" value="-" id="btnA"></div><div class="form-group"><label for="BSecenegi">B)</label><input class="w3-input w3-border w3-animate-input" type="text" style="width:80%"><input class="btn btn-primary" type="button" value="-" id="btnB"></div><div class="form-group"><label for="CSecenegi">C)</label><input class="w3-input w3-border w3-animate-input" type="text" style="width:80%"><input class="btn btn-primary" type="button" value="-" id="btnC"></div><div class="form-group"><label for="DSecenegi">D)</label><input class="w3-input w3-border w3-animate-input" type="text" style="width:80%"><input class="btn btn-primary" type="button" value="-" id="btnD"></div></div> `)
    }

</script>
